<ul class="list-group">
    <li class="list-group-item list-group-item-info">
        <input #input type="text" placeholder="owner" (input)="owner = $event.target.value">
        <input #input type="number" placeholder="status" (input)="status = $event.target.value">
        <input #input type="text" placeholder="Category" (input)="category = $event.target.value">
        <input #input type="text" placeholder="Filter by Body" (input)="body = $event.target.value">
        <input #input type="button" value="Search" (click)="clickArray = this.clicked(owner, status, category, body)">
        {{ worked }}
    </li>
    <li *ngFor="let todo of newTodos" class="list-group-item">
        Owner: {{ todo.owner }} <br>
        Status: {{ todo.status }} <br>
        Category: {{ todo.category }} <br>
        Body: {{ todo.body }}
    </li>
</ul>
