<ul class="list-group">
    <li class="list-group-item list-group-item-info">
        <todo-summary-component></todo-summary-component>
    </li>
    <li class="list-group-item list-group-item-info">
        <input #input type="text" placeholder="Owner" (input)="owner = $event.target.value">
        <input #input type="text" placeholder="Category" (input)="category = $event.target.value">
        <input #input type="text" placeholder="Filter by Body" (input)="bodyContains = $event.target.value">
        <input #input type="text" placeholder="Limit" (input)="limit = $event.target.value">
        <select #input  (input) = "todoStatus = $event.target.value">
            <option value = "">Status</option>
            <option value = "complete">Complete</option>
            <option value = "incomplete">Incomplete</option>
        </select>
        <select #input  (input) = "order = $event.target.value">
            <option value = "">Order</option>
            <option value = "owner">Owner</option>
            <option value = "category">Category</option>
            <option value = "body">Body</option>
            <option value = "status">Status</option>
        </select>
        <input #input type="button" value="Search" (click)="this.clicked(owner, todoStatus, category,
        bodyContains, order, limit)">

    </li>
    <li *ngFor="let todo of todos" class="list-group-item">
        Owner: {{ todo.owner }} <br>
        Status:
        <span *ngIf="todo.status" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        <span *ngIf="!todo.status" class="glyphicon glyphicon-remove" aria-hidden="true"></span><br>
        Category: {{ todo.category }} <br>
        Body: {{ todo.body }}
    </li>
</ul>
