<h3>Total Percent Complete:</h3>
<div class="progress">
    <div class="progress-bar" role="progressbar" [style.width.%]="todoSummary.percentToDosComplete*100">
        {{ (todoSummary.percentToDosComplete*100).toFixed(1) }}%
    </div>
</div>
<h4>By Owner:</h4>
<ul class="list-group">
    <li *ngFor="let owner of owners" class="btn btn-primary">
        {{ owner }}
        <span class="badge">{{ (todoSummary.ownersPercentComplete[owner] * 100).toFixed(0) }}%</span>
    </li>
</ul>
<h4>By Category:</h4>
<ul class="list-group">
    <li *ngFor="let category of categories" class="btn btn-primary">
        {{ category }}
        <span class="badge">{{ (todoSummary.categoriesPercentComplete[category] * 100).toFixed(0) }}%</span>
    </li>
</ul>